body {

	margin: 0;
	padding: 0;
	font-family: Helvetica;
	background-color: #F5F5F5;
} 

div.header {

	margin-bottom: 30px;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

div.left {

	float: left;
	width: 45%;
	padding-left: 30px;
	margin-bottom: 30px;
}

div.right {

	float: right;
	width: 45%;
	padding-right: 30px;
	margin-bottom: 30px;
}

div.fixRight {

	position: fixed;
	padding-top: 20px;
	padding-right: 30px;
}

#submitError {

	text-align: center;
	font-style: italic;
	font-size: 50px;
}

button.sectionButton:hover {

	cursor: default;
}

button.sectionButton {

	background: none;
	border: none;
}

h3 {
    padding: 0px;
    margin: 0;
    font-size: 18px;
	color: #93191B;
}

h4 {
	color: #93191B;
	margin-bottom: .1cm;
}

div.formSection {

	padding-left: 10px;
}

#print:hover {

	border: 2px solid blue;
}

#print {

	width: 100%;
	display: none;
	height: 40px;
	background: url(print.png);
	background-size: 100% 100%;
	border: none;
}

#printCell {

	width: 10%;
}

p.creditClassName {

	margin: 0;
}

table.three {

	display: none;
	font-family: times;
	border: 0px;
	table-layout: fixed;
	width: 100%;
}

#Schedule {
	display: none;
	font-family: times;
	font-size: 13px;
	border-collapse: collapse;
	table-layout: fixed;
    border: 2px solid black;
    width: 100%;
}

#titleCourseTable {

	margin-bottom: 15px;
	text-decoration: underline;
}

#titleCell {

	width: 100%;
}

#nullCourseList {

	text-align: center;
	font-size: 25px;
	padding-top: 40px;
}

td.padTitleCell {

	width: 1%;
}

table.two {

	width: 100%;
}

td.borderCell {

	width: 33%;
	border: 2px solid black;
}

td.padCell {

	width: 45%;
}

td.cellAP {

	width: 40%;
}

td.creditCell {

	height: 50px;
	vertical-align: top;
	text-align: center;
}

td {

	border: none;
}