body {

	margin: 0;
	padding: 0;
	font-family: Helvetica;
	background-color: #F5F5F5;
} 

div.header {

	text-align: center;
	font-family: "Trebuchet MS", Helvetica;
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 60px;
}

div.bigCenter {

	width: 1250px;
	margin: 0 auto;
}

div.left {

	float: left;
	width: 600px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
	background-color: #CCCCCC;
	margin-bottom: 20px;
}

div.right {

	float: right;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
	background-color: #CCCCCC;
	width: 600px;
	margin-bottom: 20px;
}

img.collapse {

	height: 16px;
	width: 16px;
}

#submitError {

	text-align: center;
	font-style: italic;
	font-size: 50px;
}

button.sectionButton:hover {

	cursor: default;
}

h3.collapseHeader {

	display: inline-block;
}

button.sectionButton {

	background: none;
	border: none;
	margin: 0;
	display: inline-block;
}

h2 {

	color: #93191B;
	margin-top: 0px;
	text-align: center;
}

#rightHeader {

	display: none;
}

h3 {
    padding: 0px;
    margin: 0;
    font-size: 18px;
	color: #93191B;
}

h4 {
	color: #93191B;
	margin-bottom: .1cm;
}

div.formSectionShow {

	padding-left: 35px;
}

div.formSectionNoShow {

	padding-left: 35px;
	display: none;
}

#print {

	width: 100%;
	display: none;
}

#printCell {

	width: 10%;
}

p.creditClassName {

	margin: 0;
}

p.scheduleClass {

	margin-top: 5px;
	margin-bottom: 5px;
}

table.three {

	display: none;
	font-family: helvetica;
	border: 0px;
	table-layout: fixed;
	width: 100%;
}

#Schedule {

	display: none;
	font-family: times;
	font-size: 13px;
	border-collapse: collapse;
	table-layout: fixed;
    border: 2px solid black;
    width: 520px;
    margin-left: 40px;
}

#titleCourseTable {

	margin-bottom: 15px;
}

#titleCell {

	width: 100%;
}

td.padTitleCell {

	width: 1%;
}

table.two {

	width: 100%;
}

td.borderCell {

	width: 33%;
	border: 2px solid black;
}

td.padCell {

	width: 45%;
}

td.cellAP {

	width: 50%;
}

td.creditCell {

	height: 40px;
	vertical-align: top;
	text-align: center;
}

#courseSummary {

	font-size: 13px;
}

td {

	border: none;
}